{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class=" mt-5">
    <div class="text-center">
    <img src="{% static 'core/images/ladies.jpg' %}" alt="Profilepic"
    class="img-thumbnail" width="250px" height="15px">
    </div>
    <div class="text-white mt-5 mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent:100px">
                I am <b class="text-warning">Gyana Ranjan Behera</b> dolor sit amet, consectetur adipisicing elit. Facere optio ab perferendis amet fuga impedit maxime velit nemo id, excepturi eligendi quo, aperiam ea placeat tempore animi aut voluptate, ratione quasi vitae aliquam adipisci necessitatibus voluptatem! Unde iste natus quisquam!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquam perferendis soluta. Porro obcaecati maiores dolorum repellat quibusdam. Facilis, totam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam consequuntur dolore autem rem officia dolor nihil neque expedita. Veniam, consequuntur?
            </p>
            <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique voluptas deleniti, ipsam natus dicta iste adipisci perferendis et enim impedit minus culpa, eveniet expedita laudantium. Fugit magnam animi accusantium laborum vitae. Nemo laudantium itaque nihil nesciunt cumque cupiditate optio necessitatibus.
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hier Me</a>
        <a href="" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>

{% endblock content%}